.mhCalendarEventSmall {
  display: flex;
  gap: 5px;
  align-items: center;
}

.mhCalendarEventSmall__dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--eventBackgroundColor);
}
