.mhCalendarResizeEventHandler {
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: ns-resize;
  background-color: var(--eventResizeHandleColor);
  opacity: 0;
  border-radius: 0 0 6px 6px;
  transition:
    opacity 0.15s ease,
    height 0.1s ease-out,
    top 0.1s ease-out;
  touch-action: none;
}

.mhCalendarEvent:hover .mhCalendarResizeEventHandler,
.mhCalendarResizeEventHandler:hover {
  opacity: 0.5;
}

.mhCalendarResizeEventHandler.resizing {
  opacity: 0.5 !important;
  box-shadow: inset 0 -10px 18px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.mhCalendarResizeEventHandler__time-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  background: var(--eventTimeLabelBg);
  color: var(--eventTimeLabelColor);
  font-size: 11px;
  padding: 1.5px 6px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  pointer-events: none;
  z-index: 1000;
  font-family: inherit;
  font-weight: 500;
  transition:
    opacity 0.18s,
    left 0.02s,
    bottom 0.02s;
  opacity: 1;
  display: block;
}

.mhCalendarResizeEventHandler__time-diff {
  margin-left: 4px;
  color: var(--eventTimeDiffColor);
  font-weight: 600;
  font-size: 10px;
  display: inline;
}
